/* SEMANTIC ELEMENTS */

a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}
    
input {
    margin-left: 4px;
    min-width: 140px;
    }

footer {
    display: block;
    clear: both;
    text-align: center;
    width: 770px;
    font-family: "HeroRegular";
    font-size: 14px;
    color: black;
    background-color: #FFF;
    padding-top: 20px;
    margin-left: 20px;
}

mark {
    font-family: "HeroRegular";
    float: left;
    line-height: 115%;
    max-width: 100px;
    min-height: 106px;
    padding: 9px 15px 15px 9px;  
    margin-top: 11px;
    margin-left: 3px;
    background-color: #000000;
    font-size: 18px;  
    color: #FFFFFF;  
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 3px solid #FFFF33;
}

mark a {    
    font-family: "HeroRegular";
    line-height: 115%;
    text-decoration:  underline; 
    color: #CCCCCC;
    font-size: 18px;  
}

p {
    margin-top: 10px;
    margin-left: 4px;
}

section {
    font-family: "HeroRegular";
    float: left;
    color: white;
    border: 2px solid #666666;
    background-color: #666666;
    padding-left: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    margin-top: 12px;
    margin-left: 3px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    

/* SEMANTIC ELEMENT CHILD SELECTORS */

input[type="submit"] {
    width: 100%;
    font-family: "HeroRegular";
    padding: 9px 15px;  
    margin-top: 20px;
    background-color: #CCCCCC;
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}


/* IDs */

#bottompic {
}

#game {
    margin-left: 20px;
    
   /* UNCOMMENT TO CENTER 
    display: block;
    margin-left: auto;
    margin-right: auto;*/
}

#graph {
    display: block;
    position: absolute;
    margin-top: 70px;
    margin-left: 80px;
}

#graph_notfound {
    float:left;
    clear: left;
    font-family: "HeroRegular";
    margin-top: 8px;
    margin-left: 64px;
    background-color: #000000;
    font-size: 18px;  
    color: #FFFFFF;  
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 9px;  
    border: 3px solid #FFFF33;
}

#multicolumn {
    display: block;
    clear: both;
    font-family: "HeroRegular";
        line-height: 120%;
    width: 658px;
    color: white;
        background-color: #666666;
    border: 2px solid #666666;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    padding-left: 8px;
        padding-top: 10px;
        padding-right: 12px;
        padding-bottom: 8px;
    margin-top: 15px;
        margin-left: 65px; 
    column-width: 100px;
        -webkit-column-width: 13em;
        -webkit-column-count: 3;
        -moz-column-width: 13em; 
        -moz-column-count: 3;
} 

#register {
    font-family: "HeroRegular";
    float: left;
    writing-mode: tb-rl;
    padding: 9px 15px;  
    margin-top: 13px;
    background-color: #CCCCCC;
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;
}

#startpic {
    display: block;
    margin-left: 350px;
}

#word_submit {
    float: left;
    width: 50px;
    font-family: "HeroRegular";
    background-color: #CCCCCC;
    margin-top: 8px;
    margin-right: 5px;
}

#word_input {
    font-family: "HeroRegular";
        font-size: 14px;
    float: left;
    border: 2px solid #CCCCCC;
    background-color: #FFFFFF;
    color: #000;
    margin-top: 8px;
        margin-left: 4px;
    padding-top: 6px;
        padding-bottom: 8px;
        padding-left: 6px;
        padding-right: 4px;
    border-radius: 12px;
       -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
}


/* CLASSES */

.graph_switch {
    min-width: 40px;
    font-family: "HeroRegular";
    font-size: 14px;
    color: #000;
    border: 2px solid #CCCCCC;
    background-color: #FFFFFF;
    padding: 7px;
    margin-top: 8px;
    border-radius: 12px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.graph_switch:hover {
    color: #FFF;
    background-color: #CCCCCC;
}

.graph_switch:focus {
    color: #FFF;
    background-color: #CCCCCC;
}