nav {

	font-size: 14px;
	color: white;
}
/*
#ulfront {	display: block;}
#ulfront li{
	list-style-image: url("http://gnovi.org/test/images/gnovi_klein.png");

}


*/ 
#nav li:first-child	{
	float:left;
}

#nav li:nth-last-child(-n+5) {
	font-family: "HeroRegular";
	list-style: none;
	float: left;
	text-align: center;
	border: 1px solid #7F7F7F;
	background-color: #0C0B0B;
	height: 22px;
	width: 96px;
	padding-top: 6px;
	margin-left: 2px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; }