Options FollowSymLinks

AcceptPathInfo on

RewriteEngine on
RewriteBase /

RewriteRule ^graph$ graph/ [R,L]

RewriteRule ^$ pages/start.php
RewriteRule ^einloggen$ pages/login.php
RewriteRule ^ausloggen$ pages/logout.php
RewriteRule ^registrieren$ pages/register.php
RewriteRule ^profil$ pages/profile.php
RewriteRule ^anlauf$ pages/input.php
RewriteRule ^graph/(.*)$ pages/graph.php?$1

RewriteRule ^([^/]+)$ pages/$1.php
