AcceptPathInfo on

RewriteEngine on
RewriteBase /

RewriteRule ^ich/([^/]*)/$ ich/$1 [R,L]
RewriteRule ^wir/([^/]*)/$ wir/$1 [R,L]
RewriteRule ^ich/$ ich [R,L]
RewriteRule ^wir/$ wir [R,L]

RewriteRule ^$ pages/start.php
RewriteRule ^einloggen(/.*)?$ pages/login.php
RewriteRule ^ausloggen$ pages/logout.php
RewriteRule ^registrieren$ pages/register.php
RewriteRule ^profil$ pages/profile.php
RewriteRule ^anlauf$ pages/input.php
RewriteRule ^ueber$ pages/ueber.php
RewriteRule ^ich(/.*)?$ pages/personal_graph.php
RewriteRule ^wir(/.*)?$ pages/global_graph.php

#giving the blog a new home
RewriteCond %{QUERY_STRING} ^p=([0-9]*)$
RewriteRule ^(.*)$ http://blog.gnovi.org/
