Options FollowSymLinks

RewriteBase /gnovi/www

RewriteEngine on

RewriteRule ^$ pages/start.php
RewriteRule ^einloggen$ pages/login.php
RewriteRule ^registrieren$ pages/register.php
RewriteRule ^profil$ pages/profile.php

RewriteRule ^([^/]+)$ pages/$1.php
